.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-name {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dag-container {
  border: 3px solid black;
  align-self: center;
  padding: 2px;
  margin: 2px 0;
  width: fit-content;
  display: inline-block;
}

.carousel-control-prev,
.carousel-control-next {
  pointer-events: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  pointer-events: auto;
}

/* .agents-background {
  background-color: #f8f9fa;
  min-height: 100vh;
  min-width: 100vh;
} */
