.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dag-container {
  border: 3px solid black;
  align-self: center;
  padding: 2px;
  margin: 2px 0;
  width: fit-content;
  display: inline-block;
}

/* In Agents.css or relevant stylesheet */
.carousel-control-prev,
.carousel-control-next {
  pointer-events: none; /* Disable pointer events on the whole area */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  pointer-events: auto; /* Enable pointer events only on the icon */
}
