.list-group-item {
  cursor: pointer;
}

.list-group-item-custom {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.list-group-scrollable {
  max-height: 570px;
  overflow-y: auto;
}
