/* .centered-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
} */

.dag-container {
  border: 3px solid black;
  align-self: center;
  padding: 2px;
  margin: 2px 0;
  width: fit-content; /* Adjusts the width to fit the content */
  display: inline-block; /* Makes the container shrink to the DAG size */
}
